/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _address.styles.scss | Style
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

@use "../../g_variables.scss" as globals;

address{
    display: inline-block;
    width: max-content;
    padding: globals.$padding;
    box-sizing: border-box;
    font-family: globals.$bodyFontFamily;
    color: globals.$neutralTextColour;
    line-height: globals.$bodyTextLine;
    font-size: globals.$bodyTextHeight;
}

address + address{
    margin: auto globals.$margin;
}

address > *{
    margin: 0;
    padding: 0;
}

address > * + *{
    margin-top: globals.$margin;
}


address ul:first-of-type,
address ol:first-of-type{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

address ul:first-of-type,
address ol:first-of-type{

    > li + li{
        margin-top: globals.$margin;
    }

}