/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _address.styles.scss | Style
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

@use "../../g_variables.scss" as globals;
@use "../../placeholders/text/text-type.placeholders";

address{
    @extend %bodyText-italic;
    display: inline-block;
    padding: globals.$padding;
}

address + address{
    margin: auto globals.$margin;
}

address * {
    @extend %bodyText-italic;
}

address > *{
    margin: 0;
    padding: 0;
}

address > * + *{
    margin-top: globals.$margin;
}


address ul:first-of-type,
address ol:first-of-type{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

address ul:first-of-type,
address ol:first-of-type{

    > li + li{
        margin-top: globals.$margin;
    }

}