/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _article.styles.scss | Style
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

@use "../../g_variables.scss" as globals;

article{
    font-family: globals.$bodyFontFamily;
    color: globals.$neutralTextColour;
    line-height: globals.$bodyTextLine;
    font-size: globals.$bodyTextHeight;
}