/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _aside.styles.scss | Style
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

body aside:first-of-type,
body *[role=complementary] {
    width: 20%;
    display: inline-block;
    padding: $padding;
    box-sizing: border-box;
    background-color: $secondary;
    border-radius: 0 10px 10px 0;
}

body aside:first-of-type,
body *[role=complementary]{
    > * {
        color: $white;
        padding: $padding;
    }

    > * + *{
        margin-top: $margin_small;
    }
}

main ~ aside{
    float: right;
}