/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _aside.styles.scss | Style
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

@use "../../g_variables.scss" as globals;
@use "../../placeholders/text/text-type.placeholders";


aside{
    @extend %bodyText;
}

body aside:first-of-type,
body *[role=complementary] {
    width: 20%;
    display: inline-block;
    box-sizing: border-box;
    background-color: globals.$secondary;
    border-radius: 0 10px 10px 0;
}

body aside:first-of-type,
body *[role=complementary]{
    > * {
        color: globals.$white;
        padding: globals.$padding;
    }

    > * + *{
        margin-top: globals.$margin_small;
    }
}

main ~ aside{
    float: right;
}