/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _footer.styles.scss | Style
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

@use "../../g_variables.scss" as globals;
@use "../../placeholders/text/text-type.placeholders";

footer{
    @extend %bodyText;
    min-height: 10%;
    max-height: max-content;
    background-color: globals.$secondary;
    clear: both;
    margin-top: globals.$margin;
}