/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _main.styles.scss | Style
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

@use "../../g_variables.scss" as globals;
@use "../../placeholders/text/text-type.placeholders";

body main,
body *[role=main]:first-of-type{
    @extend %bodyText;
    overflow: auto;
    min-height: 80%;
    max-height: max-content;
    padding: globals.$padding;
    box-sizing: border-box;
}

aside ~ main {
    float: right;
    width: 80%;
}

