/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _header.styles.scss | Style
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

@use "../../g_variables.scss" as globals;
@use "../../placeholders/text/text-type.placeholders";


nav{
    @extend %neutralText;
    width: min-content;
}


// The first(main) navigation on the page.
body header:first-of-type nav:first-of-type{
    background-color: globals.$secondary;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
