/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _header.styles.scss | Style
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
nav{
    width: min-content;
}


// The first(main) navigation on the page.
body header:first-of-type nav:first-of-type{
    background-color: $secondary;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
