/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _header.styles.scss | Style
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

@use "../../g_variables.scss" as globals;
@use "../../placeholders/text/text-type.placeholders";


nav{
    @extend %neutralText;
    width: min-content;
}


// The first(main) navigation on the page.
body header:first-of-type nav:first-of-type{
    width: 100%;
    height: 100%;
    display: -ms-flexbox; //(IE:8-11)
    display: flex;
    background-color: inherit;
}
