/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _button.styles.scss | Styles
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
@use "../../placeholders/nav.placeholders";
@use "../../placeholders/text/text-type.placeholders";
@use "../../g_variables.scss" as globals;

// Buttons inside of navigations
// Display them like normal text.scss
nav button,
nav button:focus{
    @extend %nav-control;
    @extend %neutralText;
    background-color: transparent;
    border:none;
    outline: none;
    width: 100%;
}