/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _input.styles.scss | Styles
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
@use "../../placeholders/form/bool-input.placeholders";
@use "../../placeholders/text/text-type.placeholders";
@use "../../g_variables.scss" as globals;

input{
    @extend %neutralText;
    display: inline-block;
}

input + input,
label + label input:not([type=checkbox]):not([type=button]):not([type=color]):not([type=radio]):not([type=reset]):not([type=submit]),
section + section label + input input:not([type=checkbox]):not([type=button]):not([type=color]):not([type=radio]):not([type=reset]):not([type=submit]),
div + div label + input input:not([type=checkbox]):not([type=button]):not([type=color]):not([type=radio]):not([type=reset]):not([type=submit]){
    margin: globals.$margin 0;
    display: block;
}

label > input:not([type=checkbox]):not([type=button]):not([type=color]):not([type=radio]):not([type=reset]):not([type=submit]),
div input:not([type=checkbox]):not([type=button]):not([type=color]):not([type=radio]):not([type=reset]):not([type=submit]),
section  input:not([type=checkbox]):not([type=button]):not([type=color]):not([type=radio]):not([type=reset]):not([type=submit]){
    width: 100%; 
}

label > input[type=checkbox],
label > input[type=radio],
fieldset label > input[type=checkbox],
fieldset label > input[type=radio],
fieldset section > input[type=checkbox],
fieldset section > input[type=radio],
fieldset div > input[type=checkbox],
fieldset div > input[type=radio] {
    @extend %bool-input;
}

label > input[type=color]{
    height: globals.$neutralTextHeight;
}

datalist + input{
    margin: auto globals.$margin;
}