/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _select.styles.scss | Styles
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
@use "../../placeholders/text/text-type.placeholders";

select{
    @extend %neutralText;
}

form select{
    width: auto;
    max-width: 80%;
    margin: 0 auto;
    display:block;
}

form label > select,
form div label + select,
form section label + select{
    margin: auto 0.5rem;
    display: inline; 
    height: 1.2rem;
}

