/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _textarea.styles.scss | Styles
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

@use "../../g_variables.scss" as globals;
@use "../../placeholders/text/text-type.placeholders";

textarea{
    @extend %bodyText;
    resize: none;
    display: block;
    height: max-content;
    text-overflow: unset;
    word-break: unset;
    word-spacing: unset;
    overflow: hidden;
}