/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _textarea.styles.scss | Styles
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

@use "../../g_variables.scss" as globals;
@use "../../placeholders/text/text-type.placeholders";

textarea{
    @extend %bodyText;
    resize: none;
    display: block;
    height: max-content;
    text-overflow: unset;
    word-break: unset;
    word-spacing: unset;
    overflow: hidden;
    padding: globals.$padding-small;
}

form label > textarea,
form > section textarea,
form > div textarea{
    width: 100%;
    min-height: 6rem;
    margin: auto;
}
