/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: /dist/scss/styles/table_content
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
@forward "caption.styles";
@forward "table.styles";
@forward "table-data.styles";
@forward "table-heading.styles";
@forward "table-body.styles";
@forward "table-foot.styles";
@forward "table-head.styles";
@forward "column-group.styles";