/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _nav.placeholders.scss | Placeholder
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
@use  "../g_variables.scss" as globals;
@use "../placeholders/border.placeholders";

%nav-control{
    color: globals.$neutralTextColour;
    font-size: globals.$neutralTextHeight;
    line-height: globals.$neutralTextLine;
    padding: 0;
    padding: globals.$padding-large;
    display: block;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    box-sizing: border-box;
    text-transform: capitalize;
}

%nav-control:hover{
    color: white;
}

%nav-control:active{
    @extend %border-thin !optional;
}

%nav-control + %nav-control{
    margin: auto globals.$margin-large;
}