/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _nav.placeholders.scss | Placeholder
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
@use  "../g_variables.scss" as globals;

%nav-control{
    color: globals.$neutralTextColour;
    font-size: globals.$neutralTextHeight;
    line-height: globals.$neutralTextLine;
    padding: 0;
    padding: 0.5rem;
    display: block;
    width: auto;
    text-align: center;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

%nav-control:hover{
    color: white;
}