# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules
/vendor

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.editorconfig
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.editorconfig



# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
/.vscode
/.vs

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
gulpfile.js

#Places that might contain large files that should not be committed.(Example; storage)
/storage

# Note Files
notes.*
note.*
Notes.*
Note.*
Todolist.*
todolist.*


# System Files
.DS_Store
Thumbs.db


# Project Files
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
# ERDs & Graphs
/graphs
/erds
graph.*
erd.*

# Config Files.
bs-config.js
tsconfig.json

# Local testing files and variables.
config/testing.*

# Porject Specific Files And Dirs.
/templates
/tests/layout.html
_TODO.md
/term
/stubs
*._test.*
package-lock.json
package.json
pug-obj.json