/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _dropdown.components.scss | Component
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

@use "../g_variables.scss" as globals;
@use "../placeholders/border.placeholders";

.carousel {
    @extend %border-thin;
    // min-width: 250px;
    // min-height: 250px;
    max-width: 1080px;
    max-height: 1080px;
    height: 50vh;
    width: 50vw;
    margin: globals.$margin auto;
    display: flex;
    flex-wrap: wrap;
}

.carousel[data-optionsPosition='left']{
    flex-flow: row;
}
.carousel[data-optionsPosition='left']{

    .carouselOptions{
        max-height: unset;
    }

    .carouselOptions .carouselControls{
        margin: unset;
        width: 100%;
    }


}

.carousel{

    > button.carouselControls:not([data-pause]) + .slides{width: calc(100% - 88px);}


    > .carouselOptions + .slides{height: calc(100% - (44px));}

    > .carouselOptions + .slides > *{
        margin: auto 0;
        min-height: unset;
    }

    > .carouselOptions{
        max-height: calc(44px + (#{globals.$padding-small}));
        overflow: scroll;
        scrollbar-width: thin;
        padding: globals.$padding-small;
        text-align: center;
    }


    .slides{
        min-width: inherit;
        min-height: inherit;
        max-width: inherit;
        max-height: inherit;
        background-color: rgba($color: #000000, $alpha: .7);
        width: 100%;
        height: 100%;
        display: flex;
    }

    // > .carouselOptions button,
    > button[data-pause] + button{
        margin-left: 0;
    }

    > button[data-pause]{
        position: absolute;
        margin-left: 44px;
        background-color: rgba(0,0,0,0.3);
        border:none;
    }
    
    .slides > *{
        min-height: inherit;
        max-width: inherit;
        max-height: inherit;
        visibility: hidden;
        width: 0;
        height: 0;
        display: none;
        overflow: scroll;
        scrollbar-width: thin;
    }

    .slides > *.activeSlide{
        visibility: visible;
        display: block;
        height: inherit;
        width: 100%;
    }

    
    .slides[data-noScale] > img.activeSlide,
    .slides > img[data-noScale].activeSlide{
        width: unset;
        margin:auto;
    }


    > .carouselControls:not([data-pause]){
        height: 100%;
    }

}