/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _nav.components.scss | Component
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

@use "../g_variables.scss" as globals;
@use "../placeholders/border.placeholders";

// Navigation Controls Inline
.navControls-flex{
    width: 100%;
    display: inline-flex;
    align-items: center;
    background-color: inherit;
    list-style-type: none;
    padding-left: globals.$padding;
}

.navControls-flex  *{
    background-color: inherit;
}
