/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _nav.components.scss | Component
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

// Navigation Controls Inline
.navControls-flex{
    width: 100%;
    display: flex;
    align-items: center;
    background-color: inherit;
    list-style-type: none;
    padding-left: $padding;
}


.navControls-flex{

    .dropDownBreak {
        list-style-type: none;
        padding-left: 0;
    }

    .dropDownMenu{
        background-color: inherit;
    }

    > .dropDownMenu > .dropDownBreak > *:nth-of-type(odd){
        background-color: $accent;
    }


    > .dropDownMenu > .dropDownBreak:first-of-type{
        position: absolute;
        background-color: inherit;
    }

}



.dropDownMenu > .dropDownBreak{
    display: none;
}

.dropDownMenu:hover > .dropDownBreak{
    display: block;
}

.dropDownMenu:hover > .dropDownBreak > .dropDownMenu:hover{
    display: flex;
}

.dropDownMenu:hover > .dropDownBreak > .dropDownMenu:hover > .dropDownBreak{
    position: absolute;
    left: 100%;
    background-color: $accent;
}