/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _nav.components.scss | Component
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

@use "../g_variables.scss" as globals;

// Navigation Controls Inline
.navControls-flex{
    width: 100%;
    display: inline-flex;
    align-items: center;
    background-color: inherit;
    list-style-type: none;
    padding-left: globals.$padding;
}


.navControls-flex{

    .dropDownBreak {
        list-style-type: none;
        padding-left: 0;
    }

    .dropDownMenu{
        background-color: inherit;
    }

    .dropDownMenu:hover{
        color: white;
    }

    .dropDownMenu:active{
        border: 1px solid;
        color: white;
    }

    .dropDownMenu:hover > button
    .dropDownMenu:active > button{
        border: 1px solid;
        color: white;
    }

    > .dropDownMenu > .dropDownBreak > *:nth-of-type(odd){
        background-color: globals.$accent;
    }


    > .dropDownMenu > .dropDownBreak:first-of-type{
        position: absolute;
        background-color: inherit;
    }

    .dropDownMenu .dropDownMenu,
    .dropDownMenu *{
        margin: auto;
    }

}



.dropDownMenu > .dropDownBreak{
    display: none;
}

.dropDownMenu:hover > .dropDownBreak{
    display: block;
}

.dropDownMenu:hover > .dropDownBreak > .dropDownMenu:hover{
    display: flex;
}

.dropDownMenu:hover > .dropDownBreak > .dropDownMenu:hover > .dropDownBreak{
    position: absolute;
    left: 100%;
    background-color: globals.$accent;
}