/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _anchors.styles.scss | Styles
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
@use "sass:color";
@use "../../../placeholders/nav.placeholders";
@use "../../../g_variables.scss" as globals;

// Global Anchor Styles
a{
    font-family: globals.$neutralFontFamily;
    color: globals.$neutralTextColour;
    line-height: globals.$neutralTextLine;
    font-size: globals.$neutralTextHeight;
}

a:visited{
    color: globals.$visitedTextColour
}

a:hover{
    color: globals.$hoverTextColour;
}

a:active{
    color: globals.$activeTextColour;
}



// Navigation Links
nav a{
    @extend %nav-control;
}

