/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _anchor.styles.scss | Styles
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
@use "sass:color";
@use "../../../placeholders/nav.placeholders";
@use "../../../placeholders/text/text-type.placeholders";
@use "../../../g_variables.scss" as globals;

// Global Anchor Styles
a{
    @extend %neutralText;
}


a:visited{
    color: globals.$visitedTextColour;
}

a:hover{
    color: globals.$hoverTextColour;
}

a:active{
    color: globals.$activeTextColour;
}



// Navigation Links
nav a{
    @extend %nav-control;
}

