/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/data
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps/errors
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps/errors/function
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps/tests
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/mixins
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/functions
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _CheckVarConstraints.func.scss | Function
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/data
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps/errors
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps/errors/function
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps/tests
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _CreateLogMessage.func.scss | Function
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/data
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps/errors
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps/errors/function
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps/tests
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _StringReplace.func.scss | Function
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/data
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps/errors
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps/errors/function
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps/tests
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _TestFunction.func.scss | Function
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/data
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps/errors
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps/errors/function
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps/tests
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _FontFaceData.mixin.scss | Mixin
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
* Global Variables.
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*
* Uses.
*/
/*
* Screen Sizes
*/
/*
* Theme Colours.
*/
/*
* Borders
*/
/*
* Box Shadow
*/
/*
* Margin & Padding.
*/
/*
* Font and Line Heights.
*/
@font-face {
  font-family: "DancingScript";
  src: url("/fonts/Dancing_Script/static/DancingScript-Bold.ttf") format("truetype"), url("/fonts/Dancing_Script/static/DancingScript-Medium.ttf") format("truetype"), url("/fonts/Dancing_Script/static/DancingScript-Regular.ttf") format("truetype"), url("/fonts/Dancing_Script/static/DancingScript-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Inconsolata";
  src: url("/fonts/Inconsolata/static/Inconsolata_Condensed-Bold.ttf") format("truetype"), url("/fonts/Inconsolata/static/Inconsolata_Condensed-Medium.ttf") format("truetype"), url("/fonts/Inconsolata/static/Inconsolata_Condensed-Regular.ttf") format("truetype"), url("/fonts/Inconsolata/static/Inconsolata_Condensed-SemiBold.ttf") format("truetype"), url("/fonts/Inconsolata/static/Inconsolata_Expanded-Bold.ttf") format("truetype"), url("/fonts/Inconsolata/static/Inconsolata_Expanded-Medium.ttf") format("truetype"), url("/fonts/Inconsolata/static/Inconsolata_Expanded-Regular.ttf") format("truetype"), url("/fonts/Inconsolata/static/Inconsolata_Expanded-SemiBold.ttf") format("truetype"), url("/fonts/Inconsolata/static/Inconsolata-Bold.ttf") format("truetype"), url("/fonts/Inconsolata/static/Inconsolata-Medium.ttf") format("truetype"), url("/fonts/Inconsolata/static/Inconsolata-Regular.ttf") format("truetype"), url("/fonts/Inconsolata/static/Inconsolata-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrains_Mono";
  src: url("/fonts/JetBrains_Mono/static/JetBrainsMono-ExtraBold.ttf") format("truetype"), url("/fonts/JetBrains_Mono/static/JetBrainsMono-ExtraBoldItalic.ttf") format("truetype"), url("/fonts/JetBrains_Mono/static/JetBrainsMono-ExtraLight.ttf") format("truetype"), url("/fonts/JetBrains_Mono/static/JetBrainsMono-ExtraLightItalic.ttf") format("truetype"), url("/fonts/JetBrains_Mono/static/JetBrainsMono-Italic.ttf") format("truetype"), url("/fonts/JetBrains_Mono/static/JetBrainsMono-ThinItalic.ttf") format("truetype"), url("/fonts/JetBrains_Mono/static/JetBrainsMono-LightItalic.ttf") format("truetype"), url("/fonts/JetBrains_Mono/static/JetBrainsMono-BoldItalic.ttf") format("truetype"), url("/fonts/JetBrains_Mono/static/JetBrainsMono-MediumItalic.ttf") format("truetype"), url("/fonts/JetBrains_Mono/static/JetBrainsMono-SemiBoldItalic.ttf") format("truetype"), url("/fonts/JetBrains_Mono/static/JetBrainsMono-Bold.ttf") format("truetype"), url("/fonts/JetBrains_Mono/static/JetBrainsMono-Thin.ttf") format("truetype"), url("/fonts/JetBrains_Mono/static/JetBrainsMono-Light.ttf") format("truetype"), url("/fonts/JetBrains_Mono/static/JetBrainsMono-Medium.ttf") format("truetype"), url("/fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf") format("truetype"), url("/fonts/JetBrains_Mono/static/JetBrainsMono-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Sansita_Swashed";
  src: url("/fonts/Sansita_Swashed/static/SansitaSwashed-ExtraBold.ttf") format("truetype"), url("/fonts/Sansita_Swashed/static/SansitaSwashed-black.ttf") format("truetype"), url("/fonts/Sansita_Swashed/static/SansitaSwashed-Bold.ttf") format("truetype"), url("/fonts/Sansita_Swashed/static/SansitaSwashed-Light.ttf") format("truetype"), url("/fonts/Sansita_Swashed/static/SansitaSwashed-Medium.ttf") format("truetype"), url("/fonts/Sansita_Swashed/static/SansitaSwashed-Regular.ttf") format("truetype"), url("/fonts/Sansita_Swashed/static/SansitaSwashed-SemiBold.ttf") format("truetype");
}
/*
* Bind The Variables To The :root pseudo-element.
*/
:root {
  /*
  * Screen Sizes
  */
  --screenWidthMin: 240px;
  --screenWidthMax: 3840px;
  --screenHeightMin: 320px;
  --screenHeightMax: 2160px;
  /*
  * Theme Colours.
  */
  --danger: red;
  --success: lime;
  --white: #f6f6f6;
  --black: black;
  --primary: #5c5c5c;
  --secondary: #8f8f8f;
  --accent: #494949;
  --bodyTextColour: black;
  --headerTextColour: black;
  --neutralTextColour: black;
  --displayTextColour: black;
  --activeTextColour: white;
  /*
  * Borders
  */
  --border-colour: #494949;
  --border-rounded: 10px;
  --border-thickness:3px;
  --border: 3px solid #494949;
  --border-grooved: 3px grooved #494949;
  /*
  * Box Shadow
  */
  --boxShadow-right: 0px;
  --boxShadow-bottom: 0px;
  --boxShadow-radius: 20px;
  --boxShadow-blur: -10px;
  --boxShadow-colour: black;
  --boxShadow: 0px 0px 20px -10px black;
  /*
  * Margin & Padding.
  */
  --padding: 0.5rem;
  --padding-large: 1rem;
  --padding-xLarge: 1.5rem;
  --padding-small: 0.25rem;
  --margin: 0.5rem;
  --margin-large: 1rem;
  --margin-xLarge: 1.5rem;
  --margin-small: 0.25rem;
  /*
  * Font and Line Heights.
  */
  --bodyTextHeight: 1rem;
  --bodyTextLine: 1.2rem;
  --headerTextHeight: 2rem;
  --headerTextLine: 2.6rem;
  --neutralTextHeight: 1.4rem;
  --neutralTextLine: 1.6rem;
  --headerFontFamily: Dancing_Script, "Lucida Handwriting", "Times New Roman", Times;
  --bodyFontFamily: JetBrains_Mono, "Times New Roman", "Times";
  --neutralFontFamily: Inconsolata, "Sans Serif";
  --displayFontFamily: Sansita_Swashed;
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _example.styles.scss | Style
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
section {
  width: 94%;
  margin: 0 auto;
}

section + section {
  margin-top: 1.5rem;
  padding: 0.5rem 0;
}

.subSection > h2 {
  border-bottom: 3px groove black;
}

.subSection > div:not(.example) > h3 {
  border-bottom: 3px groove black;
}

.subSection > div:not(.example) > hgroup {
  border-bottom: 3px groove black;
}

section > .subSection + .subSection {
  margin-top: 1rem;
}

.subSection > div + div {
  margin-top: 1rem;
}

.subSection > div + div > hgroup {
  margin-top: 0.5rem;
}

.example {
  margin-top: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -10px black;
  padding: 0.5rem;
}

code.styleCodeBlock {
  border-radius: 10px;
  padding: 0.5rem;
  background-color: lightgray;
  display: inline-block;
  margin: 0 0.5rem;
}

/*# sourceMappingURL=example.styles.css.map */
