/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _FontFaceData.mixin.scss | Mixin
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
// Uses
@use "sass:string";
@use "sass:list";
@use "sass:meta";
@use "sass:map";
// @use "../functions/CreateLogMessage.func" as CLM;
// @use "../functions/CheckVarConstraints.func" as CVC;
@use "../functions" as StageHands_F;
@use "../data" as StageHands_D;

// If $isVariable is set to true then the list must contain a
// path for the variable file as well.[["statics",[["path/to/static","file-format"]]],["variable",[["path/to/variable","file-format"]]]]
/// FontFaceData - Returns data to fill in and @font-face property.
/// @author Jordan Vezina(staticBanter)
/// 
/// @access public
/// @group mixin.data
/// @since v0.2.0 - Development
/// @requires {function} CreateLogMessage <./dist/scss/functions/_CreateLogMessage.func.scss>
/// @requires {function} CheckVariableConstraints <./dist/scss/functions/_CheckVariableConstraints.func.scss>
/// @param {string} $fontName - Name that the font will use for font-family.
/// @param {list|map} $fontList - A list or map of the font.
/// @param {string} $fontGroup [static] - The group the font belongs to.(variable/static)
/// @param {string} $fontType [regular] - Set true if the font is variable supported.
/// @example TODO: INCLUDE EXAMPLE OF FONT LIST/MAP
/// @throws - TODO: INSERT ERROR CODES.
/// @returns - @font-face data.
@mixin FontFaceData($fontName,$fontList,$fontGroup:"static",$fontType:"regular",$debug:null){

    @if($debug){
        @debug("~StageHands:FontFaceDataMixin~ was called with the following, fontName:",$fontName,"fontList:",$fontList,"fontGroup:",$fontGroup);
    }

    // If the font name does not meet constraints,
    // throw error.
    @if not StageHands_F.CheckVariableConstraints($check:$fontName,$againstType:string,$min:1){
        @error(StageHands_F.CreateLogMessage($code:("IvA","C"),$messageList:StageHands_D.$errorMap,$messageOps:(("fontName","FontFaceData-Mixin"),null)));
    }

    // If the font list/map does not meet constraints,
    // throw error.
    @if not StageHands_F.CheckVariableConstraints($check:$fontList,$againstType:map,$min:1) and not StageHands_F.CheckVariableConstraints($check:$fontList,$againstType:list,$min:1) {
        @error(StageHands_F.CreateLogMessage($code:("IvA","C"),$messageList:StageHands_D.$errorMap,$messageOps:(("fontList","FontFaceData-Mixin"),null)));
    }

    // If the is variable flag does not meet constraints,
    // throw error.
    @if not StageHands_F.CheckVariableConstraints($check:$fontGroup,$againstType:string,$min:1){
        @error(StageHands_F.CreateLogMessage($code:("IvA","C"),$messageList:StageHands_D.$errorMap,$messageOps:(("fontGroup","FontFaceData-Mixin"),null)));
    }

    $srcList: ();


    // If the font list is a list,
    // use foreach methods to get fonts;
    // Else the font list must be a map,
    // use map methods to get fonts.
    // I really don't like how this looks -.-
    @if meta.type-of($fontList) == "list"{

        $currentGroup:null;
        @each $fName, $valueGroup in $fontList{
            @if($fName == $fontName){
                $currentGroup:$valueGroup;
            }
        }
        @if not $currentGroup{@error("We lost the current group...");}

        $values:null;
        @each $groupName, $groups in $currentGroup{
            @if($groupName == $fontGroup){$values:$groups;}
        }
        @if not $values{@error("We lost our values...");}

        @each $valueName, $urlGroup in $values{

            @if($valueName == $fontType){
                $srcList:list.append($srcList,(url(list.nth($urlGroup,1)) format(list.nth($urlGroup,2))));
            }

        }

    }@else{

        // $font: map.get($fontList,$fontName);
        // $fontGroup: map.get($font,"static");
        // $fontUrl: map.get($fontGroup,"regular");
        $fontValues: map.get($fontList,$fontName,$fontGroup,$fontType);
        $srcList:list.append($srcList,(url(list.nth($fontValues,1)) format(list.nth($fontValues,2))));

    }

    @if not StageHands_F.CheckVariableConstraints($check:$srcList,$againstType:list,$min:1) {
        @error("~FontFaceData~ The source list did not contain any font data. There might not have been a list for given font name, or list is not formatted properly...");
    }
    

    // The font name.
    font-family: $fontName+"-"+$fontType;
    // The Font Source
    src:$srcList;

}