/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _bool-input.placeholders.scss | Placeholder
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

%bool-input{
    margin: auto 0.5rem;
    display: inline; 
    vertical-align: bottom;
    height: 1.2rem;
}