/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps/errors/function
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps/errors
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps/tests
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor/maps
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/vendor
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/data
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _CheckVarConstraints.func.scss | Function
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _StringReplace.func.scss | Function
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _CreateLogMessage.func.scss | Function
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/functions
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _FontFaceData.mixin.scss | Mixin
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/mixins
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
* Global Variables.
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*
* Uses.
*/
/*
* Screen Sizes
*/
/*
* Theme Colours.
*/
/*
* Borders
*/
/*
* Box Shadow
*/
/*
* Margin & Padding.
*/
/*
* Font and Line Heights.
*/
@font-face {
  font-family: "DancingScript-bold";
  src: url("/fonts/Dancing_Script/static/DancingScript-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "DancingScript-regular";
  src: url("/fonts/Dancing_Script/static/DancingScript-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inconsolata-bold";
  src: url("/fonts/Inconsolata/static/Inconsolata-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Inconsolata-regular";
  src: url("/fonts/Inconsolata/static/Inconsolata-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrains_Mono-italic";
  src: url("/fonts/JetBrains_Mono/static/JetBrainsMono-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrains_Mono-bold";
  src: url("/fonts/JetBrains_Mono/static/JetBrainsMono-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrains_Mono-regular";
  src: url("/fonts/JetBrains_Mono/static/JetBrainsMono-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Sansita_Swashed-bold";
  src: url("/fonts/Sansita_Swashed/static/SansitaSwashed-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Sansita_Swashed-regular";
  src: url("/fonts/Sansita_Swashed/static/SansitaSwashed-Regular.ttf") format("truetype");
}
/*
* Bind The Variables To The :root pseudo-element.
*/
:root {
  /*
  * Screen Sizes
  */
  --screenWidthMin: 240px;
  --screenWidthMax: 3840px;
  --screenHeightMin: 320px;
  --screenHeightMax: 2160px;
  /*
  * Theme Colours.
  */
  --danger: red;
  --success: lime;
  --white: #f6f6f6;
  --black: black;
  --primary: #9600fA;
  --secondary: #C71497;
  --accent: #C7AA14;
  --shade: #943B7C;
  --highlight: #FBEF3F;
  --neutralTextColour: black;
  --activeTextColour: #FBEF3F;
  --hoverTextColour: #C71497;
  --visitedTextColour: #C7AA14;
  --linkedTextColour: black;
  /*
  * Borders
  */
  --border-colour: #C7AA14;
  --border-rounded: 10px;
  --border-thickness:3px;
  --border: 3px solid #C7AA14;
  --border-grooved: 3px groove #C7AA14;
  /*
  * Box Shadow
  */
  --boxShadow-right: 0px;
  --boxShadow-bottom: 0px;
  --boxShadow-radius: 20px;
  --boxShadow-blur: -10px;
  --boxShadow-colour: black;
  --boxShadow: 0px 0px 20px -10px black;
  /*
  * Margin & Padding.
  */
  --padding: 0.5rem;
  --padding-large: 1rem;
  --padding-xLarge: 1.5rem;
  --padding-small: 0.25rem;
  --margin: 0.5rem;
  --margin-large: 1rem;
  --margin-xLarge: 1.5rem;
  --margin-small: 0.25rem;
  /*
  * Font and Line Heights.
  */
  --bodyTextHeight: 1rem;
  --bodyTextLine: 1.2rem;
  --headerTextHeight: 2rem;
  --headerTextLine: 2.6rem;
  --neutralTextHeight: 1rem;
  --neutralTextLine: 1.2rem;
  --displayTextHeight: 2rem;
  --displayTextLine: 2.6rem;
  --headerFontFamily: "Sansita_Swashed-regular", "Lucida Handwriting", "Times New Roman", Times;
  --headerFontFamily-bold: "Sansita_Swashed-bold";
  --bodyFontFamily: "JetBrains_Mono-regular", "Times New Roman", "Times";
  --bodyFontFamily-bold: "JetBrains_Mono-bold";
  --bodyFontFamily-italic: "JetBrains_Mono-italic";
  --neutralFontFamily: "Inconsolata-regular", "Sans Serif";
  --neutralFontFamily-bold: "Inconsolata-bold";
  --displayFontFamily: "DancingScript-regular";
  --displayFontFamily-bold: "DancingScript-bold";
}

/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _border.placeholder.scss | Placeholder
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
.example {
  border-width: 3px;
  border-color: #C7AA14;
  border-style: solid;
  box-sizing: border-box;
}

.example {
  border-width: 4.5px;
}

.example {
  width: max-content;
}

/*# sourceMappingURL=main.styles.css.map */
