/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _body.styles.scss | Styles
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

@use "../../g_variables.scss" as globals;

body{
    font-family: globals.$bodyFontFamily;
    background-color: globals.$white;
    line-height: globals.$bodyTextLine;
    font-size: globals.$bodyTextHeight;
    color: globals.$neutralTextColour;
    height: 100%;
}