/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _html.styles.scss | Styles
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

@use "../../g_variables.scss" as globals;

html{
    min-width: globals.$screenWidthMin;
    max-width: globals.$screenWidthMax;
    min-height: globals.$screenHeightMin;
    max-height: globals.$screenHeightMax;
    height: 100%;
}