/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _CheckVarConstraints.func.scss | Function
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
// Uses
@use "sass:meta";
@use "sass:list";
@use "sass:string";
// @use "_CreateLogMessage.func.scss" as CLM;

// TODO: Add equals to option
/// CheckVariable Constraints - Checks if a variable meets the following constraints.
/// Though, $type, $min, and $max arguments are optional, if none are passed an error will be thrown.
/// @author Jordan Vezina(staticBanter)
/// 
/// @access public
/// @group functions.helper
/// @since v0.2.0 - Development
/// @require {function} CreateLogMessage <./dist/scss/functions/_CreateLogMessage.func.scss>
/// @param {any} $check - The variable to check.
/// @param {string} $againstType [null] - The type the variable should be.
/// @param {number} $min [null] - The min length/value of the variable.
/// @param {number} $max [null] - The max length/value of the variable.
/// @throws - TODO : INSERT ERROR CODES.
/// @returns {boolean} - Returns true If the variable passes the checks, returns false if variable fails or
/// was none existent.
@function CheckVariableConstraints($check,$againstType:null,$min:null,$max:null,$debug:null){

    // Initialize the valid list to empty.
    $validList:();

    //Store the type of our check so we don't have to call meta every time.
    $checkType: meta.type-of($check);
 
    // List of allowed scss types.
    $allowedTypes:(
        "string",
        "number",
        // "color",
        "list",
        "map",
        "bool",
        "null",
        // "function",
        // "arglist"
    );
    
    // debug
    @if($debug){
        
        // ? This should work but throws `Error: () isn't a valid CSS value.`
        // For now just going to debug the valid list.
        // FIX : No debug message
        @debug($validList);
        // @debug('| CheckVariableConstraint_Debug | | validList:' + $validList + '| | checkType : ' + $checkType + '|' );
    }

    // If no other optional arguments were passed to
    // this function;
    // throw error. 
    @if not $againstType and not $min and not $max and not $fullList{
        @error(CreateLogMessage($code:("RMA","S"),$messageList:$errorMap,$messageOps:(("CheckVariableConstraints"),null)));
        // @error("~E:CVC-MA-1~ A constraint must be past.");
    }

    // If the against type flag was set.
    @if($againstType){

        // debug
        @if($debug){
            @debug("| CheckVariableConstraint_Debug | | againstType : #{$againstType}| | checkType : #{$checkType} |" );
        }

        // If against type is not string;
        // throw error.
        @if meta.type-of($againstType) != string{ 
            @error(CreateLogMessage($code:("IVA","IvT"),$messageList:$errorMap,$messageOps:("againstType","CheckVariableConstraints","string",meta.type-of($againstType)))); 
        }

        // If against type not in allowed types
        // throw error.
        @if not list.index($allowedTypes,$againstType){
            @error(CreateLogMessage($code:("IVA","IvT"),$messageList:$errorMap,$messageOps:("againstType","CheckVariableConstraints","string",meta.type-of($againstType))));
        }

        // If the check type is not equal to $againstType;
        // add false to valid list,
        // Else;
        // add true to valid list.
        @if $checkType != $againstType{

            $validList: list.append($validList,false);

            // debug
            @if($debug){
                @debug("| CheckVariableConstraint_Debug | | Check: #{$check}, DID NOT pass againstType: #{$againstType}! | | validList : #{validList} |" );
            }
            
        }@else{

            $validList: list.append($validList,true);

            // debug
            @if($debug){
                @debug("| CheckVariableConstraint_Debug | | Check: #{$check}, PASSED againstType: #{$againstType}! | | validList : #{validList} |" );
            }

        }

    }  

    // If both min and max are both set.
    // We need to check for some extra logic.
    @if $min and $max{

        // If min is not type-of number;
        // throw error.
        @if meta.type-of($min) != "number"{
            @error(CreateLogMessage($code:("IvA","IvT"),$messageList:$errorMap,$messageOps:(("min","CheckVariableConstraints","number",meta.type-of($min)),null)));
        }

        // If max is not type-of number;
        // throw error.
        @if meta.type-of($max) != "number"{
            @error(CreateLogMessage($code:("IvA","IvT"),$messageList:$errorMap,$messageOps:(("max","CheckVariableConstraints","number",meta.type-of($min)),null)));
        }

        // If max is less then,
        // Or equal to min;
        // throw error,
        
        @if $max <= $min{
            @error(CreateLogMessage($code:("LE","LT"),$messageList:$errorMap,$messageOps:(("max","CheckVariableConstraint","min"),null)));
        }

        // If min is greater then,
        // Or equal to max;
        // throw error.
        @if $min >= $max{
            @error(CreateLogMessage($code:("LE","GT"),$messageList:$errorMap,$messageOps:(("min","CheckVariableConstraint","max"),null)));
        }

    }


    // If min was set
    @if $min{

        // debug
        @if($debug){
            @debug("| CheckVariableConstraint_Debug | | Checking min: #{$min}, of check: #{check} | | validList : #{validList} |" );
        }

        // If min is not type-of number;
        // throw error.
        @if meta.type-of($min) != "number"{
            @error(CreateLogMessage($code:("IvA","IvT"),$messageList:$errorMap,$messageOps:(("min","CheckVariableConstraints","number",meta.type-of($min)),null)));
        }

    
        // If the check type was number,
        // Else If the check type was string,
        // Else If the check type was list
        // Or the check type was map.
        // -NUMBER-
        @if($checkType == number){

            // If check is less then min;
            // add false to valid list,
            // Else; add true to valid list.
            @if($check < $min){

                $validList: list.append($validList,false);

                // debug
                @if($debug){
                    @debug("| CheckVariableConstraint_Debug | | Check: #{$check}, DID NOT pass min: #{$min}. Min type `number`, checkType: #{checkType}! | | validList : #{validList} |" );
                }

            } @else{

                $validList: list.append($validList,true);

                // debug
                @if($debug){
                    @debug("| CheckVariableConstraint_Debug | | Check: #{$check}, PASSED min: #{$min}. Min type `number`, checkType: #{checkType}! | | validList : #{validList} |" );
                }

            }

        // -STRING-
        } @else if $checkType == string{

            // If the length of the check string is
            // less then min;
            // add false to valid list,
            // Else; add true to valid list.
            @if(string.length($check) < $min){

                $validList: list.append($validList,false);

                // debug
                @if($debug){
                    @debug("| CheckVariableConstraint_Debug | | Check: #{$check}, DID NOT pass min: #{$min}. Min type `string`, checkType: #{checkType}! | | validList : #{validList} |" );
                }

            } @else{

                $validList: list.append($validList,true);

                // debug
                @if($debug){
                    @debug("| CheckVariableConstraint_Debug | | Check: #{$check}, PASSED min: #{$min}. Min type `string`, checkType: #{checkType}! | | validList : #{validList} |" );
                }

            }

        // -LIST or MAP-
        }@else if $checkType == "list" or $checkType == "map"{

            // If the length of the check map/list
            // is less then min;
            // add false to valid list,
            // Else; add true to valid list.
            @if(list.length($check) < $min){

                $validList: list.append($validList,false);

                // debug
                @if($debug){
                    @debug("| CheckVariableConstraint_Debug | | Check: #{$check}, DID NOT pass min: #{$min}. Min type `string`, checkType: #{checkType}! | | validList : #{validList} |" );
                }

            } @else{

                $validList: list.append($validList,true);

                // debug
                @if($debug){
                    @debug("| CheckVariableConstraint_Debug | | Check: #{$check}, PASSED min: #{$min}. Min type `string`, checkType: #{checkType}! | | validList : #{validList} |" );
                }

            }

        }

    }


    // If max was set
    @if $max{

        // debug
        @if($debug){
            @debug("| CheckVariableConstraint_Debug | | Checking max: #{$max}, of check: #{check} | | validList : #{validList} |" );
        }

        // If max is not type-of number;
        // throw error.
        @if meta.type-of($max) != number{
            @error(CreateLogMessage($code:("IvA","IvT"),$messageList:$errorMap,$messageOps:(("max","CheckVariableConstraints","number",meta.type-of($max)),null)));
        }

        // If the check type was number,
        // Else If the check type was string,
        // Else If the check type was list
        // Or the check type was map.
        // -NUMBER-
        @if($checkType == number){

            // If check is greater then max;
            // add false to valid list,
            // Else; add true to valid list.
            @if($check > $max){

                $validList: list.append($validList,false);

                // debug
                @if($debug){
                    @debug("| CheckVariableConstraint_Debug | | Check: #{$check}, DID NOT pass max: #{$max}. Max type `number`, checkType: #{checkType}! | | validList : #{validList} |" );
                }

            } @else{

                $validList: list.append($validList,true);

                // debug
                @if($debug){
                    @debug("| CheckVariableConstraint_Debug | | Check: #{$check}, PASSED max: #{$max}. max type `number`, checkType: #{checkType}! | | validList : #{validList} |" );
                }

            }

        // -STRING-
        } @else if $checkType == string{

            // If the length of the check string is
            // greater then max;
            // add false to valid list,
            // Else; add true to valid list.
            @if(string.length($check) > $max){

                $validList: list.append($validList,false);

                // debug
                @if($debug){
                    @debug("| CheckVariableConstraint_Debug | | Check: #{$check}, DID NOT pass max: #{$max}. Max type `string`, checkType: #{checkType}! | | validList : #{validList} |" );
                }

            } @else{

                $validList: list.append($validList,true);

                // debug
                @if($debug){
                    @debug("| CheckVariableConstraint_Debug | | Check: #{$check}, PASSED max: #{$max}. Max type `string`, checkType: #{checkType}! | | validList : #{validList} |" );
                }

            }

        // -LIST or MAP-
        }@else if $checkType == "list" or $checkType == "map"{

            // If the length of the check map/list
            // is less then min;
            // add false to valid list,
            // Else; add true to valid list.
            @if(list.length($check) > $max){

                $validList: list.append($validList,false);

                // debug
                @if($debug){
                    @debug("| CheckVariableConstraint_Debug | | Check: #{$check}, DID NOT pass max: #{$max}. Max type `string`, checkType: #{checkType}! | | validList : #{validList} |" );
                }

            } @else{

                $validList: list.append($validList,true);

                // debug
                @if($debug){
                    @debug("| CheckVariableConstraint_Debug | | Check: #{$check}, PASSED max: #{$max}. Max type `string`, checkType: #{checkType}! | | validList : #{validList} |" );
                }

            }

        }

    }


    // If the valid list does not contain false;
    // return true.
    @if not list.index($validList,false){

        @return true;

    }

    // Return false by default.
    @return false;

}