/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _CreateLogMessage.func.scss | Function
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
// Uses
@use "sass:list";
@use "sass:meta";
@use "sass:map";
@use "sass:string";
@use "../data" as StageHands_D;
@use "./CheckVarConstraints.func" as StageHands_CVC;
@use "./StringReplace.func" as StageHands_SR;

/// CreateLogMessage - Creates warning and error log messages for functions.
/// @author Jordan Vezina(staticBanter)
///
/// @access public
/// @group functions.helper
/// @since v0.2.0 - Development
/// @param {list|map} $messageList - The message list containing the log messages.
/// @param {string|list} $code - The error code related to that message.
/// If list the first item is the main code and the second item is the sub-code.
/// @param {list} $messageOps [null] - A list of message options for token-strings.
/// First item in the list can either be a string or list.
/// Second item in list must be a string or null. If string this sets the messages to "append-mode",
/// In order for this to work properly you must now the your error's,code,subCode,token, and if it needs appendages.
/// WILL eventually update to full string-template system to clear this up at bit.
/// were any remaining elements in the first list will be appended to the end of the message,
/// please read the following to learn about StringReplace: @see {function} StringReplace <./dist/scss/functions/_StringReplace.func.scss>
/// @throws
/// @param {bool} $debug - Run function with debug output.
/// @return {string} - The log message
@function CreateLogMessage($code,$messageList,$messageOps:null,$debug:null){

    // If code does not pass any constraint;
    // throw error.
    @if not StageHands_CVC.CheckVariableConstraints($check:$code,$againstType:string,$min:1) and not StageHands_CVC.CheckVariableConstraints($check:$code,$againstType:list,$min:2) {
        @error("The argument(s) for parameter code of function CreateLogMessage did not meet constraints for that parameter.");
        // @error(CreateLogMessage($code:("IvA","C"),$messageList:StageHands_D.$general_Errors_Map,$messageOps:(("code","CreateLogMessage"),null)));
    }


    // If message list does not pass any constraint;
    // throw error.
    @if not StageHands_CVC.CheckVariableConstraints($check:$messageList,$againstType:map,$min:1) and not StageHands_CVC.CheckVariableConstraints($check:$messageList,$againstType:list,$min:1){
        @error("The argument(s) for parameter messageList of function CreateLogMessage did not meet constraints for that parameter.");
        // @error(CreateLogMessage($code:("IvA","C"),$messageList:StageHands_D.$general_Errors_Map,$messageOps:(("messageList","CreateLogMessage"),null)));
    }

    // Get the error message.
    // $message: GetStringFromList($code:$code,$messageList:$messageList);
    // $message: GetValueFromMap($map:$messageList,$value:$code);
    $message: map.get($messageList,$code...);

    @if not $message{

        $codeType: meta.type-of($code);

        @if $codeType == string or $codeType == number{
            @return("There was no message for the error-code: #{$code}.");
        }@else if $codeType == list or $codeType == map{
            @return("Could not find error message related to error codes.");
        }
        
    }

    // If there are message options.
    @if $messageOps{
        
        // debug
        @if($debug){
            @debug($messageOps);
        }
        // Return the message.
        @return(StageHands_SR.StringReplace($string:$message,$token:"~",$replacement:list.nth($messageOps,1),$appendage:list.nth($messageOps,2)));

    }

    // Return the message
    @return($message);
    
}
