/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/functions
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/ 
@forward "CheckVarConstraints.func";
@forward "CreateLogMessage.func";
@forward "StringReplace.func";