/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/functions
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
@import 
"CheckVarConstraints.func",
"CreateLogMessage.func", 
"StringReplace.func", 
"TestFunction.func";