/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: dist/scss/styles/demarcating_edits
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
@forward "insert.styles";
@forward "delete.styles";