@use "../g_variables.scss" as globals;


#testing{

    div{
        display: inline-block;
        width: 100px;
        height: 100px;
    }

    div + div{
        margin: auto globals.$margin;
    }

    .primary{
        background-color: globals.$primary;
    }

    .secondary{
        background-color: globals.$secondary;
    }

    .accent{
        background-color: globals.$accent;
    }

    .shade{
        background-color: globals.$shade;
    }
    
}