/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _example.styles.scss | Style
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*
* NOTE : Because of how the docs are structured the stagehands library
* gets loaded before the example styles do, this does resualt in some 
* over-lap. IDK why it loads the entire globals when we just need some
* vars but eh.
*/ 

@use "../g_variables.scss" as globals;

body{
    color:blue;
}

main > section{
    width: 94%;
    margin: 0 auto;
    
}


.droppable{
    color:red;
}

main > section + section {
    margin-top: globals.$margin;
    padding: globals.$padding 0;
}

.subSection > h2{
    border-bottom: 3px groove black;
}
.subSection > div:not(.example) > h3{
    border-bottom: 3px groove black;
}
.subSection > div:not(.example) > hgroup{
    border-bottom: 3px groove black;
}


section > .subSection + .subSection{
    margin-top: globals.$margin-large;
}

.subSection > div + div{
    margin-top: globals.$margin-large;
}

.subSection > div + div > hgroup{
    margin-top: globals.$margin;   
}

.example{
    margin-top: globals.$margin-large;
    border-radius: 10px;
    box-shadow: globals.$boxShadow;
    padding: globals.$padding;
    display: inline-block;
}

code.styleCodeBlock{
    border-radius: globals.$border-rounded;
    padding: globals.$padding;
    background-color: rgba(211, 211, 211, 1);
    display: inline-block;
    margin: 0 globals.$margin;
    width: max-content;
}

pre + pre {
    border-top: globals.$border-grooved;
    padding-top: globals.$padding;
}


.example > dialog.defaultDialogs{
    position: absolute;
    bottom: unset;
}