/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _details.styles.scss | Style
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

@use "../../g_variables.scss" as globals;
@use "../../placeholders/text/text-type.placeholders";
@use "../../placeholders/border.placeholders";


details{
    @extend %neutralText;
    @extend %border-thin;
    box-sizing: border-box;
}

details > *{
    margin: globals.$margin;
}