/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _summary.styles.scss | Style
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

@use "../../g_variables.scss" as globals;
@use "../../placeholders/text/text-type.placeholders";
@use "../../placeholders/border.placeholders";

details > summary:first-of-type{
    @extend %neutralText-bold;
    margin: globals.$margin 0;
    padding: globals.$padding
}

details[open] > summary:first-of-type{
    @extend %border-thin;
    border-top: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
}