/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
* Global Variables.
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
/*
* Uses.
*/
@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:meta";
@use "data" as StageHands_D;
@use "mixins" as StageHands_M;

/*
* Screen Sizes
*/
$screenWidthMin: 240px !default;
$screenWidthMax: 3840px !default;
$screenHeightMin: 320px !default;
$screenHeightMax: 2160px !default;

/*
* Theme Colours.
*/
// Element Colours.
$danger: rgba(255,0,0,1) !default;
$success: rgba(0,255,0,1) !default;
$white: rgba(246,246,246,1) !default;
$black: rgba(0,0,0,1) !default;
$primary: rgb(92,92,92,1) !default;
$secondary: color.complement($primary) !default;
$accent: color.invert($secondary) !default;

//Text Colours.
$neutralTextColour: rgba(0,0,0,1) !default;
$activeTextColour: $accent !default;
$hoverTextColour: $secondary !default;
$visitedTextColour: $accent !default;
$linkedTextColour: $neutralTextColour !default;


/*
* Borders
*/
$border-colour: $accent !default;
$border-rounded: 10px !default;
$border-thickness: 3px !default;

$border: $border-thickness solid $border-colour !default;
$border-grooved: $border-thickness groove $border-colour !default;


/*
* Box Shadow
*/
$boxShadow-right: 0px !default;
$boxShadow-bottom: 0px !default;
$boxShadow-radius: 20px !default;
$boxShadow-blur: -($boxShadow-radius / 2) !default;
$boxShadow-colour: rgba(0,0,0,1) !default;
$boxShadow: $boxShadow-right $boxShadow-bottom $boxShadow-radius $boxShadow-blur $boxShadow-colour !default;


/*
* Margin & Padding.
*/
$padding: 0.5rem !default;
$padding-large: ($padding * 2) !default;
$padding-xLarge: ($padding * 3) !default;
$padding-small: ($padding / 2) !default;

$margin: 0.5rem !default;
$margin-large: ($margin * 2) !default;
$margin-xLarge: ($margin * 3) !default;
$margin-small: ($margin / 2) !default;


/*
* Font and Line Heights.
*/
$bodyTextHeight: 1rem !default;
$bodyTextLine: 1.2rem !default;
$headerTextHeight: 2rem !default;
$headerTextLine: 2.6rem !default;
$neutralTextHeight: 1rem !default;
$neutralTextLine: 1.2rem !default;
$displayTextHeight: 2rem !default;
$displayTextLine: 2.6rem !default;

$variableFonts: false; // If true fonts will use variable versions. WARNING! Ensure all fonts are variable supported before enabling this.

@each $fontName, $urlGroup in StageHands_D.$fontMap{
    
    @each $groupName, $valuesList in $urlGroup{
        
        @each $valueName, $valueGroup in $valuesList {

            @font-face{
                @include StageHands_M.FontFaceData($fontName:$fontName,$fontList:StageHands_D.$fontMap,$fontType:$valueName);
            }

        }

    }
}

// Header And Title Fonts
$headerFontFamily: "DancingScript-regular", "Lucida Handwriting", "Times New Roman", Times;
$headerFontFamily-bold: "DancingScript-bold";

// Body Text Fonts(TODO).
$bodyFontFamily: "JetBrains_Mono-regular", "Times New Roman", "Times";
$bodyFontFamily-bold: "JetBrains_Mono-bold";
$bodyFontFamily-italic: "JetBrains_Mono-italic";


// Neutral Text Fonts(TODO).
$neutralFontFamily: "Inconsolata-regular", "Sans Serif";
$neutralFontFamily-bold: "Inconsolata-bold";

// Display Font Text.
$displayFontFamily: "Sansita_Swashed-regular";
$displayFontFamily-bold: "Sansita_Swashed-bold";


/*
* Bind The Variables To The :root pseudo-element.
*/
:root{
    
    /*
    * Screen Sizes
    */
    --screenWidthMin: #{$screenWidthMin};
    --screenWidthMax: #{$screenWidthMax};
    --screenHeightMin: #{$screenHeightMin};
    --screenHeightMax: #{$screenHeightMax};

    /*
    * Theme Colours.
    */
    // Element Colours.
    --danger: #{$danger};
    --success: #{$success};
    --white: #{$white};
    --black: #{$black};
    --primary: #{$primary};
    --secondary: #{$secondary};
    --accent: #{$accent};

    //Text Colours.
    --neutralTextColour: #{$neutralTextColour};
    --activeTextColour: #{$activeTextColour};
    --hoverTextColour: #{$hoverTextColour};
    --visitedTextColour: #{$visitedTextColour};
    --linkedTextColour: #{$linkedTextColour};

    /*
    * Borders
    */
    --border-colour: #{$border-colour};
    --border-rounded: #{$border-rounded};
    --border-thickness:#{$border-thickness};

    --border: #{$border};
    --border-grooved: #{$border-grooved};

    /*
    * Box Shadow
    */
    --boxShadow-right: #{$boxShadow-right};
    --boxShadow-bottom: #{$boxShadow-bottom};
    --boxShadow-radius: #{$boxShadow-radius};
    --boxShadow-blur: #{$boxShadow-blur};
    --boxShadow-colour: #{$boxShadow-colour};
    --boxShadow: #{$boxShadow};


    /*
    * Margin & Padding.
    */
    --padding: #{$padding};
    --padding-large: #{$padding-large};
    --padding-xLarge: #{$padding-xLarge};
    --padding-small: #{$padding-small};

    --margin: #{$margin};
    --margin-large: #{$margin-large};
    --margin-xLarge: #{$margin-xLarge};
    --margin-small: #{$margin-small};
    
    /*
    * Font and Line Heights.
    */
    --bodyTextHeight: #{$bodyTextHeight};
    --bodyTextLine: #{$bodyTextLine};
    --headerTextHeight: #{$headerTextHeight};
    --headerTextLine: #{$headerTextLine};
    --neutralTextHeight: #{$neutralTextHeight};
    --neutralTextLine: #{$neutralTextLine};
    --displayTextHeight: #{$displayTextHeight};
    --displayTextLine: #{$displayTextLine};

    --headerFontFamily: #{meta.inspect($headerFontFamily)};
    --headerFontFamily-bold : #{meta.inspect($headerFontFamily-bold)};

    --bodyFontFamily: #{meta.inspect($bodyFontFamily)};
    --bodyFontFamily-bold: #{meta.inspect($bodyFontFamily-bold)};
    --bodyFontFamily-italic: #{meta.inspect($bodyFontFamily-italic)};

    --neutralFontFamily: #{meta.inspect($neutralFontFamily)};
    --neutralFontFamily-bold: #{meta.inspect($neutralFontFamily-bold)};

    --displayFontFamily: #{meta.inspect($displayFontFamily)};
    --displayFontFamily-bold: #{meta.inspect($displayFontFamily-bold)};
}
