/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _description-definition.styles.scss | Styles
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
@use "../../../placeholders/text/text-type.placeholders";

dd{
    @extend %bodyText;
}