/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _description-term.styles.scss | Styles
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

@use "../../../g_variables.scss" as globals;
@use "../../../placeholders/text/text-type.placeholders";

dt{
    @extend %bodyText-bold;
}

dd + dt {
    margin-top: globals.$margin;
}