/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _div.styles.scss | Styles
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
@use "../../../placeholders/form/form-separator.placeholders";
@use "../../../placeholders/form/fieldset-separator.placeholders";
@use "../../../g_variables.scss" as globals;

form > div{
    @extend %form-separator;
    margin: globals.$margin-large auto;
}

form > div > * + *{
    margin: globals.$margin auto;
}

form fieldset > div{
    @extend %fieldset-separator;
}

form fieldset > div{
    padding-top: globals.$padding;
    padding-bottom: globals.$padding;
}