/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _figcaption.styles.scss | Styles
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
@use "../../../g_variables.scss" as globals;

figcaption{
    font-family: globals.$neutralFontFamily;
    line-height: globals.$neutralTextLine;
    font-size: globals.$neutralTextHeight;
}