/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _index.scss | Indexes: /dist/scss/styles/text/text_content
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/ 
@forward "paragraph.styles";
@forward "description-term.styles";
@forward "description-definition.styles";
@forward "pre.styles";
@forward "ordered-list.styles";
@forward "unordered-list.styles";
@forward "list-item.styles";
@forward "blockquote.styles";
@forward "figcaption.styles";
@forward "div.styles";
