/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _list-item.styles.scss | Styles
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
@use "../../../g_variables.scss" as globals;
@use "../../../placeholders/text/text-type.placeholders";

li{
    @extend %neutralText;
}

li+li,
ol+li,
ul+li{
    margin: globals.$margin 0;
}