/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _ordered-list.styles.scss | Styles
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/
@use "../../../placeholders/list-section.placeholders";

ol{
    @extend %list-section;
}

li > ol{
    @extend %list-section-nested;
}