/*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*
StageHands | _paragraph.styles.scss | Styles
*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*=*/

@use "../../../g_variables.scss" as globals;
@use "../../../placeholders/text/text-type.placeholders";

// Global
p{
    @extend %bodyText;
    margin: 0 globals.$margin;
    padding: globals.$padding-small 0;
}
